<h1> Edit photo </h1>



<form action="/photos/:an_id/edit"></a>
<div>
    <label>
      Image URL
    </label>
  
    <input type="text" name="image_url" value="<%= @pic.source %>"
</div>
  
<div>
    <label>
      Caption
    </label>
  
    <input type="text" name="caption" value="<%= @pic.caption %>"
</div>
    
  <button>Update photo</button>
</form>