
<h1>Edit Photo <%= params["an_id"] %></h1>

<form action="/update_photo/<%= params["an_id"] %>">
  <div>
    <label for="source_input">
      Image URL
    </label>

    <input id="source_input" type="text" name="the_source" value="<%= @pic.source %>">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input id="caption_input" type="text" name="the_caption" value="<%= @pic.caption %>">
  </div>

  <button>
    Update Photo
  </button>
</form>


<!--find the row in the database (like on the show and the edit pages)
redefine what image & caption are equal to
e.g., photo.caption is equal to whatever is in the params hash
once redefined, photo.save
-->