<h1> Add a new photo </h1>

<form action="/create_photo"></a>
<div>
    <label>
      Image URL
    </label>
  
    <input type="text" name="image_url">
</div>
  
<div>
    <label>
      Caption
    </label>
  
    <input type="text" name="caption">
</div>
    
  <button>Create photo</button>
</form>

<a href="https://omnicalc-params-timothyschulte.c9users.io/sqrt/results?>" + :a_number </a>
<a href="https://photogram-g7-intermediate.herokuapp.com/create_photo?the_source=" + www.google.com + "&the_caption=" google